.app-list-item {
  padding: 15px 20px;
  border: 2px solid rgba(240, 240, 240, 1);
  width: 26%;
  min-height: 150px;
  border-radius: 4px;
  background-color: rgba(240, 240, 240, 0.6);
  margin: 15px 10px;
  transition: 0.3s all ease-in;
  position: relative;

  & .plus {
    color: green;
  }

  & .minus {
    color: crimson;
  }
}

.btn-list-item {
  border: none;
  background: none;
  padding: 10px;
  border-radius: 4px;
  color: #f9f9f9;
  transition: 0.3s all ease;
  cursor: pointer;
  display: block;

  & .active {
    display: block;
  }
}